@media only screen and (max-width: 600px) {
  .card-list {
    flex-direction: column !important;
  }
  .form-details {
    display: none!important;
  }
  .contact-form {
    justify-content: center!important;
  }
  .card {
    margin: 50px 0;
  }
  .card-home {
    left: 50%!important;
    top: 300px!important;
    transform: translateX(-50%);
  }
  .description {
      left: 50%!important;
      transform: translateX(-50%);
      top: 150px!important;
  }
  .carousel {
    width: 100%!important;
    padding: 25px!important;
  }
  .description-about-us {
    font-size: 17px!important;
    padding: 25px!important;
    margin: 50px 0!important;
  }
  .section-title {
    margin: 50px 0!important;
  }
}
.card-img-top {
    width: 286px;
    height: 190px;
}
.nav {
  height: 10vh;
  display: flex;
  align-items: center;
}
.description {
  position: absolute;
  left: 130px;
  top: 150px;
  background-color: lightsalmon;
  color: black;
  width: 285px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
}
.milestone-logo {
  width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
}
.description-about-us {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightsalmon;
  font-size: 20px;
  font-weight: bold;
}
.card-body {
    color: black;
}
.card-home {
  position: absolute;
  background-color: white;
  left: 130px;
  top: 225px;
}
.carousel {
  width: 60%;
  margin: 0 auto;
}
.carousel-inner {
  height: 70vh;
}
.latin-america-wallpaper {
  height: 80vh;
  width: 100%;
}
.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: white;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item a:hover,
.nav-item a:active,
.nav-item a:focus {
  color: lightsalmon;
}
.section-title {
  margin: 100px 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.contact-body {
  height: 80vh;
}
.contact-title {
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}
.contact-form {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contact-form form {
  width: 50%;
}
.form-details {
  width: 30%;
  background-color: lightcoral;
  padding: 25px;
  color: white;
  font-weight: bold;
}
.submit-btn {
  margin-top: 25px;
}